name: CI - Gradle Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Setup Gradle Cache
        uses: gradle/actions/setup-gradle@v4

      # DynamoDB Local 실행
      - name: Start DynamoDB Local
        run: |
          docker run -d -p 8000:8000 --name dynamodb amazon/dynamodb-local

      - name: Grant execute permission for Gradle wrapper
        run: chmod +x gradlew

      # 테스트 포함 실행
      - name: Run Gradle Build
        run: ./gradlew clean build --no-daemon